* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

/* debug */
.debug .container {
  /* border: 1px solid black; */
  height: 80px;
}

.container {
  max-width: 1400px;
}

[class*= 'col-'] {
  position: relative;
}

.debug .container [class*='col-'] {
  /* border: 1px solid black; */
}

.top_header.container [class*='col-'] {
  height: 80px;
}

.bottom_header.container {
  height: 650px;
}
.bottom_header.container [class*='col-'] {
  height: 650px;
}

/* nav bar */
.top_header img {
  height: 25px;
}

.hor-cent {
  text-align: center;
}
.ver-cent-lh {
  line-height: 80px;
}

[class*='nav'] li {
  line-height: 80px;
  vertical-align: middle;
}

[class*='nav_'] li {
  display: inline-block;
  margin-right: 10px;
}
[class*='nav_'] li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.nav_left li {
  margin-right: 10px;
}
.nav_left li:last-child {
  margin-right: 10px;
}
.nav_left {
  float: right;
}

.fa-bars {
  float: right;
  position: absolute;
  top: 50%;
  right: 15%;
  transform:translate(0%, -50%);
}

/* hero (container_bottom) */
.bottom_header.container {
  background-image:url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom_header h1 {
  font-size: 2.5rem;
  color: white;
}
.bottom_header p {
  font-size: 1.3rem;
  color: white;
}

.bottom_header img {
  height: 50px;
}

/* .hero {
  border: 3px solid violet;
} */

.bottom_header.container [class*='col-'] {
  position: relative;
}
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.hero h1, .hero p {
  margin-bottom: 20px;
}

/* menu responsive */
.f-right {
  float: right;
}
